/* You can add global styles to this file, and also import other style files */
h1,h2,h3,h4,h5 {
    color: #f44336;
}

.btn-contact-sync-theme {
    color:#f44336;
    background-color:  #fff;
    border-color: #f44336;
}